body{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#container{
    width: 800px;
    height: auto;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;  
}

#header{
    height: 80px;
    background-color: #CCC;
}

#menu{
    height: 50px;
    background-color: #666;
}

#imagebox{
    width: 300px;
    height: 300px;
    background-color: lightgreen;
    float: left;
}

#mainbody{
    width: 500px;
    height: 600px;
/*    background-color: red;*/
    float: right;
}

#footer{
    height: 400px;
    
    background-color: lightsteelblue;
    clear: both;
}

#atribute{
    height: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-bottom: 1px solid #eeeeee;
    padding-top: 10px;
    padding-bottom: 10px;
}

#title{
    height: 20px;
    width: 200px;
    margin-left: 20px;
    
/*    background-color: green;*/
    
    margin-bottom: 5px;
    
    font-family: "Times New Roman", Times, serif;
    
    color: gray;
}

#infotext{
    height: 20px;
    width: 200px;
    margin-left: 20px;
    
/*    background-color: purple;*/
    font-family: "Times New Roman", Times, serif;

}

