body{
    margin: 0;
    padding: 0;
    background: lightgray;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 300;
}

#box
{
   position: relative;
   margin: 5% auto;
   height: 400px;
   width: 300px;
   background: #fff;
   box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.form{
   position: absolute;
   top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}

input[type="text"],
input[type="password"]
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
    
}

input[type="submit"]
{
    margin-bottom: 28px;
    width: 135px;
    height: 32px;
    background: #f44336;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
    
}