*{
    margin: 0px;
    padding: 0px;
}

#wrap{
    margin-top: 15px;
 
}

#wrap ul{
    list-style: none;
    float: left;
}

#wrap ul a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px; /*mygtuko aukstis*/
    padding: 0px 15px;
}

#wrap ul li{
    position: relative;
    float: left;
}

#wrap ul li:hover{
    background: lightgrey;
}

#wrap ul ul{
    display: none;
    position: absolute;
}

#wrap ul ul li{
    width: 150px;
}

#wrap ul ul a{
    line-height: 120%;
    padding: 10px 15px;
}

#wrap ul li:hover > ul{
    display: block;
}