body{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#box1{
    width: 500px;
    height: 500px;
/*    background-color: red;*/
    
}


#event{
    height: 100px;
    width: 450px;
    margin-left: 10px;
/*    margin-right: auto;*/
/*    background-color: blue;*/
    
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#title{
    height: 50px;
    width: 250px;
/*    background-color: green;*/
    float: left;
    font-family: "Times New Roman", Times, serif;
    
    color: black;
    
    font-size: 13px; 
    
   
    
    font-weight: 800;
}

#date{
    height: 50px;
    width: 250px;
/*    background-color: orange;*/
    float: left;
    font-family: "Times New Roman", Times, serif;
    
    color: black;
    
    font-size: 13px; 
    
    
    font-weight: 800;
}

#link{
    height: 100px;
    width: 100px;
    float: right;
    background-color: #ccc;
    font-family: "Times New Roman", Times, serif;
    
   
}

#image{
    height: 100px;
    width: 100px;
    float: left;
/*    background-color: magenta;*/
    
   
}

#link a {
    margin-top: 10px;
    
    color: black;
    
    font-size: 13px; 
    
    text-decoration: none;
    
    border-bottom: 0px dashed;
    
    text-transform: uppercase;
    
    font-family: verdana, arial, sans-serif;
    
    font-weight: 800;
}

#text1{
    height: 20px;
    width: 230px;
    background-color: #f2f2f2;
    
    padding-bottom: 3px;
    color: gray;
    
    text-transform: uppercase;
    
    font-family: verdana, arial, sans-serif;
    
    border-bottom: 1px solid #d9d9d9;
    
    margin-left: auto;
    margin-right: auto;
}

#text2{
    height: 25px;
    width: 230px;
    background-color: #f2f2f2;
   
    padding-bottom: 3px;
    
    font-family: verdana, arial, sans-serif;
    
    margin-left: auto;
    margin-right: auto;
}