* {
    margin: 0;  
    padding: 0;
}

body {
    
}

nav {
    margin-top: 15px;
   width: 100%; 
    height: 100px;
    
}

ul {
   margin-left: 100px; /* pastumia mygtukus i desine */
    
}

ul li { /* listo elementu formatavimas*/
    list-style: none;/* pries listo elementus nebus tasko*/
    display: inline-block; /*linkai rodomi vienoje eiluteje*/
    float: left;
    line-height: 100px;
    padding: 0 10px;
}


ul li a{ /* nuorodu formatavimas */
    text-decoration: none;   /*linkai neturi pabraukimu*/
    display: block;

    line-height: 32px;
    padding: 0 10px;
    
}

ul li:hover{
    background: lightgrey;
}

